@import '~scss/variables';
@import '~scss/mixins';

.form {
  margin-bottom: 12px;
}

.leftIcon {
  width: 30px;
  position: absolute;
  @include vertical-center;
  left: 16px;
  color: #65a428;
fill: #d8da00;
}
.loading {
  width: 100%;
}