.path {
  fill: none;
  stroke: #a5afba;
  stroke-width: 2px;
  transition: all .2s ease-in-out;

  &:hover {
    stroke-width: 3px;
  }

  &.error {
    stroke: #ca2621;
  }

  &.active {
    stroke: #F18918;
  }

  &.tcpActive {
    stroke: #479e88;
  }

  &.selected {
    stroke-width: 4px;
  }
}

.marker {
  fill: #a5afba;

  &.error {
    fill: #ca2621;
  }

  &.active {
    fill: #F18918;
  }

  &.tcpActive {
    fill: #479e88;
  }
}
