@import '~scss/variables';

.icon {
  display: inline-block;
  margin-right: 12px;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  background-color: $bg-color;
  color: #65a428;
fill: #d8da00;


  img {
    width: auto;
    height: auto;
  }
}
